  VITE_apiKey=your Key
  VITE_authDomain=your Key
  VITE_projectId=your Key
  VITE_storageBucket=your Key
  VITE_messagingSenderId=your Key
  VITE_appId=your Key
  VITE_Image_Upload_Key=your Key
  VITE_ApiPayment_PK your Key
  VITE_EMAILJS_SERVICE_ID=your Key
  VITE_EMAILJS_USER_ID=your Key
  VITE_EMAILJS_TEMPLATE_ID=your Key